.top span{
    display: inline-block;
    margin-left: 30px;
    font-size: x-large;
    border: 2px solid red;
    padding : 5px;
}  
.top h1{
    display: inline-block;
    margin-left: 35%;
    margin-right: 35%;
    font-size: xx-large ;
   
}
.centersq h1{
    font-size: 600%;
    font-family: monospace;
}
.centersq h2{
    font-size: 300%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.line{
    background-color: black;
    height: 5px;
}
.line1{
    background-color: black;
    height: 3px;

}
.line2{
    background-color: black;
    height: 3px;
    margin-top: 5px;

}
.row{
    display: flex;
    
}
.h11{
    
        width: 30%;
        margin-left: 5%;
        font-size: x-large;
}
.h22{
    width: 30%;
    margin-right: 5%;
    font-size: x-large;
    
}
.imgg{
    width: 60%;
    text-align: center;
    margin-top: 1%;
}
.mar{
    margin: 50px;
}

.foot{
    display: inline-flex;
    background-color: black;
    width: 60%;
    margin: 10px 10px 10px 20%;
    border: 5px solid rgb(255, 254, 254);
    box-shadow: 10px 10px red;
    
    
}
.foot p{
    color: aliceblue;
    width: 30%;
    margin-left: 10%;
}



