body{
     background-color: rgb(73, 73, 243);
}
.container{
    border: 1px solid blue;
    width: 25%;
     border-radius: 10px;
     margin-left: 40%;
     margin-top: 1%;
     background-color: white;
    
}
.itemrow{
    display: grid;
    padding: 20px;
    gap: 50%;
    grid-template-columns: auto auto auto auto;
    width: 15%;
    
    
}
.itemy{
    border: 1px solid rgb(255, 254, 254);
    padding: 20px;
    font-size: x-large;
    border-radius: 10px;
    background-color: rgb(250, 203, 49);
    color:black;
}
.itemb{
    border: 1px solid rgb(255, 254, 254);
    padding: 20px;
    font-size: x-large;
    border-radius: 10px;
       background-color: rgb(80, 197, 252);
    color:black;

}
.itemr{
    border: 1px solid rgb(255, 254, 254);
    padding: 20px;
    font-size: x-large;
    border-radius: 10px;
       background-color: rgb(245, 81, 16);
    color:black;

}

.item3{
    width: 5%;
    border: 1px solid rgb(250, 250, 253);
    padding: 20px 70px ;
    text-align: center;
    margin-bottom: 5%;
    margin-left: 5%;
    color: white;
    background-color: rgb(5, 230, 155);
    font-size: x-large;
    border-radius: 10px;
}
.input input{
    width: 90%;
    margin-left: 4%;
    margin-top: 5%;
    height: 50px;
     border-radius: 10px;
     background-color: rgb(217, 220, 223);
}